/* CSS atualizado */

body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Estilo da barra de navegação */
nav {
    background-color: #000000;
    border-bottom: 3px solid #00ff00;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

nav a {
    color: #ffffff;
    padding: 14px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

nav a:hover {
    color: #00ff00;
}

/* Título principal */
h1 {
    color: #00ff00;
    text-align: center;
    margin-top: 30px;
}

/* Botão principal */
.button-main {
    display: block;
    width: 200px;
    margin: 30px auto;
    padding: 15px;
    background-color: #00ff00;
    color: #000000;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.button-main:hover {
    background-color: #ffffff;
}

/* Conteúdo principal */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

.container p {
    margin: 20px 0;
    font-size: 18px;
}

/* Seção específica para Reviews */
.review-section {
    background-color: #222222;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.review-section h2 {
    color: #00ff00;
    margin-bottom: 10px;
}

.review-section p {
    margin: 10px 0;
}

/* Estilização das seções de Jogos */
.game-section {
    background-color: #222222;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.game-section h2 {
    color: #00ff00;
    margin-bottom: 10px;
}

/* Ajuste das margens da página 'Sobre' */
.about-section {
    padding: 20px;
    margin-top: 20px; 
    background-color: #222222;
    border-radius: 10px;
}

/* Rodapé fixo */
footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border-top: 3px solid #00ff00;
    position: fixed;
    bottom: 0;
    width: 100%;
    }
